<nav class="navbar sticky top-0 flex flex-col w-screen h-[7rem] justify-between  items-center  ">
  <p class="navbar-brand flex w-full h-[3rem] px-[2rem] items-center text-lg font-bold text-white bg-orange-500 " >✈️ SPK-SAW </p>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse flex flex-row justify-center w-full h-[4rem] px-[2rem] bg-white text-md font-semibold border-b-2" id="navbarSupportedContent">
    <ul class="navbar-nav  flex flex-row items-center justify-between w-1/3 h-full">
      <a class="nav-link flex w-1/3 h-full justify-center items-center hover:text-sky-500 " href="/">
        <li class="nav-item ">
          Home
        </li>
      </a> 
      <a class="nav-link flex w-1/3 h-full justify-center items-center hover:text-sky-500 " href="{% url "alternatif:index" %}">
        <li class="nav-item ">
            Alternatif
        </li>
      </a>
      <a class="nav-link flex w-1/3 h-full justify-center items-center hover:text-sky-500 " href="{% url "perhitungan:index" %}">
        <li class="nav-item ">
          Perhitungan
        </li> 
      </a>
    </ul>
  </div>
</nav>